# Análisis del perfil turístico que visitó Gran Canaria 2022

![Portada](https://static.hosteltur.com/app/public/uploads/img/articles/2024/05/21/L_182819_3-nuevos-usos-de-ia-generativa-en-grupos-turisticos-el-caso-de-w2m.jpg)

***Introducción:***

El objetivo de este análisis es comprender las características demográficas, comportamientos, preferencias y patrones de los turistas en periodo de postpandemia, utilizando como base la encuesta de gasto turístico realizada por el Instituto Nacional de estadísticas (ISTAC)

Gran Canaria, como uno de los destinos turísticos más importantes de España, atrae a millones de turistas anualmente. Debido a la pandemia sufrida en 2020, el turismo se ha visto afectado considerablemente y con este análisis se busca identificar los cambios claves sufridos por dicho acontecimineto con la finalidad de plantearse estrategias de marketing y optimizar la experiencia del turismo ante posibles futuros factores adversos.

A lo largo del análisis se emplean técnicas de exploración de datos (EDA) y herramientas de visualización desarrolladas en Python.

# **1.Preparación de los datos**

**Imports**
Se importan las librerias, módulos y funciones que vamos a usar a lo largo del análisis.

In [1]:
#Librerias que vamos a usar a lo largo del EDA
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from scipy.stats import chi2_contingency, pearsonr, ttest_ind, f_oneway
import sys
sys.path.insert(0,"../utils")

import utils as funciones
import variables as vari

# **Carga de la base de datos y visualización inicial**

In [2]:
#Situacion laboral
df_perfil_turistico["Situacion_laboral"] = df_perfil_turistico["Situacion_laboral"].replace({ 1:"Asalariado", 2:"Autonomo", 3:"Empresario_peque", 4:"Empresario_grande",
5:"Desempleado", 6:"Estudiante", 7:"Jubilado", 8:"Incapacitado", 9:"Militar", 10:"Dependients", 11:"Otros"})

NameError: name 'df_perfil_turistico' is not defined

In [9]:
#Ingresos
df_perfil_turistico["Ingresos"] = df_perfil_turistico["Ingresos"].replace({1:"Menos 25.000", 2:"25.000-49.999",3:"50.000-74.999", 4:"+75.000"})

In [10]:
#Tipo de alojamiento
df_perfil_turistico["Tipo_alojamiento"] = df_perfil_turistico["Tipo_alojamiento"].replace({1:"Hotel 1-2-3*", 2:"Hotel 4*",3:"Hotel 5*", 4:"Apartamento/Villa", 5:"Vivienda/airbnb", 6:"Alojamiento privado", 7:"Alojamiento rural"})

In [11]:
#Repetiría
df_perfil_turistico["Repetiria"] = df_perfil_turistico["Repetiria"].replace({1:"(1)", 2:"(2)",3:"(3)", 4:"(4)", 5:"(5)", 6:"(6)", 7:"(7)",8:"(8)",9:"(9)",10:"(10)"})

In [12]:
#Calificacion
df_perfil_turistico["Calificacion"] = df_perfil_turistico["Calificacion"].replace({1:"Mucho peor de lo esperado", 2:"Peor de lo esperado",3:"A la altura de las expectativas", 4:"Mejor de lo esperado", 5:"Mucho mejor de lo esperado"})

In [13]:
#Creamos una columna con el tipo de aconmpañante
columnas_tipo_acompañante = ["Viaja_solo", "Viaja_pareja", "Viaja_hijo", "Viaja_amigos", "Viaja_otros"]

# Crear la columna "Resultado" solo basándose en esas columnas
df_perfil_turistico["Modo_viaje"] = df_perfil_turistico.apply(lambda row: ', '.join(col for col in columnas_tipo_acompañante if row[col] == "Si"), axis=1)

In [14]:
#Eliminamos la columna Tipo de viaje
df_perfil_turistico = df_perfil_turistico.drop(columns=["Viaja_pareja","Viaja_hijo","Viaja_otros","Viaja_solo","Viaja_amigos"])

In [15]:
df_perfil_turistico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12295 entries, 0 to 12294
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sexo                     12295 non-null  object
 1   Edad                     12295 non-null  int64
 2   Nacionalidad             12295 non-null  object
 3   Noches                   12295 non-null  int64
 4   Tipo_alojamiento         12295 non-null  object
 5   Coste_vuelos             12295 non-null  float64
 6   Coste_alojamiento        12295 non-null  float64
 7   Gastos                   12295 non-null  float64
 8   Horas_fuera_alojamiento  12295 non-null  int64
 9   Visitas_totales_Islas    12295 non-null  int64
 10  Visitas_total_GC         12295 non-null  int64
 11  Calificacion             12295 non-null  object
 12  Repetiria                12295 non-null  object
 13  Nivel_educativo          12295 non-null  object
 14  Situacion_laboral        12295 non-null  object
 15  Ingresos                 12295 non-null  object
 16  Personas_hogar           12295 non-null  int64
 17  Cuatrimestre             12295 non-null  object
 18  Año                      12295 non-null  int64
 19  Modo_viaje               12295 non-null  object
dtypes: float64(3), int64(7), object(10)
memory usage: 1.9+ MB

In [16]:
# Convertir algunas columnas a float
df_perfil_turistico['Edad'] = df_perfil_turistico['Edad'].astype(float)
# Verificar el cambio
df_perfil_turistico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12295 entries, 0 to 12294
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sexo                     12295 non-null  object
 1   Edad                     12295 non-null  float64
 2   Nacionalidad             12295 non-null  object
 3   Noches                   12295 non-null  int64
 4   Tipo_alojamiento         12295 non-null  object
 5   Coste_vuelos             12295 non-null  float64
 6   Coste_alojamiento        12295 non-null  float64
 7   Gastos                   12295 non-null  float64
 8   Horas_fuera_alojamiento  12295 non-null  int64
 9   Visitas_totales_Islas    12295 non-null  int64
 10  Visitas_total_GC         12295 non-null  int64
 11  Calificacion             12295 non-null  object
 12  Repetiria                12295 non-null  object
 13  Nivel_educativo          12295 non-null  object
 14  Situacion_laboral        12295 non-null  object
 15  Ingresos                 12295 non-null  object
 16  Personas_hogar           12295 non-null  int64
 17  Cuatrimestre             12295 non-null  object
 18  Año                      12295 non-null  int64
 19  Modo_viaje               12295 non-null  object
dtypes: float64(4), int64(6), object(10)
memory usage: 1.9+ MB

In [17]:
#¿Valores duplicados?
df_perfil_turistico.duplicated(keep=False)
len(df_perfil_turistico[df_perfil_turistico.duplicated(keep = False)]) # keep = "first", keep = False

0

In [18]:
#¿Valores nulos?
df_perfil_turistico.isnull()
df_perfil_turistico.isnull().sum()

Sexo                       0
Edad                       0
Nacionalidad               0
Noches                     0
Tipo_alojamiento           0
Coste_vuelos               0
Coste_alojamiento          0
Gastos                     0
Horas_fuera_alojamiento    0
Visitas_totales_Islas      0
Visitas_total_GC           0
Calificacion               0
Repetiria                  0
Nivel_educativo            0
Situacion_laboral          0
Ingresos                   0
Personas_hogar             0
Cuatrimestre               0
Año                        0
Modo_viaje                 0
dtype: int64

In [19]:
#¿Outliers?
variables_numericas=["Edad","Noches","Coste_vuelos","Coste_alojamiento","Gastos","Horas_fuera_alojamiento","Visitas_totales_Islas","Visitas_total_GC","Personas_hogar"]

In [20]:
# Calcular límites inferior y superior
outliers = {}
for var in variables_numericas:
    q1 = df_perfil_turistico[var].quantile(0.25)
    q3 = df_perfil_turistico[var].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Identificar outliers
    outliers[var] = df_perfil_turistico[(df_perfil_turistico[var] < lower_bound) | (df_perfil_turistico[var] > upper_bound)]

    print(f"Outliers en {var}:\n{outliers[var]}")

Outliers en Edad:
       Sexo  Edad Nacionalidad  Noches     Tipo_alojamiento  Coste_vuelos  \
445  Hombre  89.0      Noruega      14  Alojamiento privado         706.0

     Coste_alojamiento  Gastos  Horas_fuera_alojamiento  \
445              1.335   200.0                        8

     Visitas_totales_Islas  Visitas_total_GC                     Calificacion  \
445                     10                 0  A la altura de las expectativas

    Repetiria      Nivel_educativo Situacion_laboral       Ingresos  \
445       (8)  Estudios superiores          Jubilado  50.000-74.999

     Personas_hogar Cuatrimestre   Año    Modo_viaje
445               2           Q1  2019  Viaja_pareja
Outliers en Noches:
         Sexo  Edad Nacionalidad  Noches     Tipo_alojamiento  Coste_vuelos  \
8       Mujer  21.0       España       2    Apartamento/Villa       100.000
13     Hombre  64.0     Alemania      28             Hotel 4*       560.000
23     Hombre  53.0        Otros      18             Hotel 5*         1.468
39      Mujer  48.0        Otros      29  Alojamiento privado         1.600
45     Hombre  46.0    Finlandia      20    Apartamento/Villa       900.000
...       ...   ...          ...     ...                  ...           ...
12263   Mujer  57.0        Otros      17             Hotel 4*       387.000
12268  Hombre  23.0       España      31             Hotel 4*         2.000
12277  Hombre  62.0    Finlandia      19    Apartamento/Villa       400.000
12278  Hombre  36.0       Italia       1             Hotel 4*       370.000
12293   Mujer  33.0     Alemania      15      Vivienda/airbnb       310.000

       Coste_alojamiento   Gastos  Horas_fuera_alojamiento  \
8                100.000  200.000                        7
13                 7.500  500.000                        5
23                 3.033  632.000                       14
39                 1.120  900.000                       12
45                 1.700    1.555                        6
...                  ...      ...                      ...
12263              1.800  165.000                        5
12268              5.086  740.000                       10
12277            900.000  619.000                        5
12278            650.000    0.000                        8
12293            350.000  200.000                        6

       Visitas_totales_Islas  Visitas_total_GC  \
8                          1                 0
13                        19                 9
23                         5                 2
39                         2                 2
45                         2                 2
...                      ...               ...
12263                      1                 1
12268                      8                 3
12277                     12                 4
12278                      4                 0
12293                      3                 3

                          Calificacion Repetiria       Nivel_educativo  \
8      A la altura de las expectativas       (7)  Estudios secundarios
13     A la altura de las expectativas      (10)   Estudios superiores
23     A la altura de las expectativas      (10)   Estudios superiores
39          Mucho mejor de lo esperado      (10)   Estudios superiores
45                Mejor de lo esperado      (10)  Estudios secundarios
...                                ...       ...                   ...
12263             Mejor de lo esperado       (7)   Estudios superiores
12268  A la altura de las expectativas       (7)   Estudios superiores
12277  A la altura de las expectativas      (10)   Estudios superiores
12278             Mejor de lo esperado      (10)   Estudios superiores
12293  A la altura de las expectativas      (10)   Estudios superiores

      Situacion_laboral       Ingresos  Personas_hogar Cuatrimestre   Año  \
8            Asalariado   Menos 25.000               2           Q1  2019
13             Jubilado  50.000-74.999               2           Q1  2019
23             Jubilado  50.000-74.999               2           Q1  2019
39             Autonomo        +75.000               2           Q1  2019
45           Asalariado        +75.000               2           Q1  2019
...                 ...            ...             ...          ...   ...
12263        Asalariado  25.000-49.999               2           Q4  2022
12268        Asalariado  25.000-49.999               6           Q4  2022
12277        Asalariado  50.000-74.999               2           Q4  2022
12278        Asalariado  50.000-74.999               2           Q4  2022
12293          Autonomo   Menos 25.000               1           Q4  2022

         Modo_viaje
8      Viaja_pareja
13     Viaja_pareja
23     Viaja_pareja
39     Viaja_pareja
45     Viaja_pareja
...             ...
12263    Viaja_hijo
12268  Viaja_amigos
12277  Viaja_pareja
12278    Viaja_solo
12293    Viaja_solo

[927 rows x 20 columns]
Outliers en Coste_vuelos:
Empty DataFrame
Columns: [Sexo, Edad, Nacionalidad, Noches, Tipo_alojamiento, Coste_vuelos, Coste_alojamiento, Gastos, Horas_fuera_alojamiento, Visitas_totales_Islas, Visitas_total_GC, Calificacion, Repetiria, Nivel_educativo, Situacion_laboral, Ingresos, Personas_hogar, Cuatrimestre, Año, Modo_viaje]
Index: []
Outliers en Coste_alojamiento:
Empty DataFrame
Columns: [Sexo, Edad, Nacionalidad, Noches, Tipo_alojamiento, Coste_vuelos, Coste_alojamiento, Gastos, Horas_fuera_alojamiento, Visitas_totales_Islas, Visitas_total_GC, Calificacion, Repetiria, Nivel_educativo, Situacion_laboral, Ingresos, Personas_hogar, Cuatrimestre, Año, Modo_viaje]
Index: []
Outliers en Gastos:
Empty DataFrame
Columns: [Sexo, Edad, Nacionalidad, Noches, Tipo_alojamiento, Coste_vuelos, Coste_alojamiento, Gastos, Horas_fuera_alojamiento, Visitas_totales_Islas, Visitas_total_GC, Calificacion, Repetiria, Nivel_educativo, Situacion_laboral, Ingresos, Personas_hogar, Cuatrimestre, Año, Modo_viaje]
Index: []
Outliers en Horas_fuera_alojamiento:
        Sexo  Edad  Nacionalidad  Noches     Tipo_alojamiento  Coste_vuelos  \
185    Mujer  64.0   Reino Unido       8             Hotel 4*       178.000
527    Mujer  17.0   Reino Unido       2             Hotel 4*       699.000
896    Mujer  39.0        Suecia       7    Apartamento/Villa       800.000
1056   Mujer  32.0        España       7    Apartamento/Villa       489.000
1212  Hombre  36.0      Alemania       5    Apartamento/Villa       307.000
1294  Hombre  76.0     Dinamarca      21    Apartamento/Villa         2.233
1446  Hombre  48.0       Noruega       7             Hotel 5*       532.000
1496  Hombre  34.0        España       3             Hotel 5*       219.000
1562  Hombre  76.0      Alemania       7             Hotel 4*       750.000
1693  Hombre  35.0         Otros       2      Vivienda/airbnb        62.000
1750  Hombre  35.0       Noruega       7             Hotel 5*         1.873
2190   Mujer  39.0        España       6    Apartamento/Villa       585.000
2222  Hombre  78.0   Reino Unido       7             Hotel 4*       262.000
2270   Mujer  64.0     Dinamarca      14  Alojamiento privado       755.000
2282  Hombre  36.0       Francia       7      Vivienda/airbnb       305.000
2478   Mujer  70.0       Bélgica       5         Hotel 1-2-3*         1.171
2493   Mujer  22.0        Suecia       3      Vivienda/airbnb       335.000
2962   Mujer  43.0   Reino Unido      14    Apartamento/Villa       362.000
3138   Mujer  41.0      Alemania      10             Hotel 4*         1.663
3244  Hombre  20.0       Irlanda       6      Vivienda/airbnb       307.000
3330   Mujer  19.0        España       8             Hotel 5*       200.000
3446   Mujer  45.0        Italia      20  Alojamiento privado       810.000
3591  Hombre  30.0      Alemania      11             Hotel 4*       550.000
3800  Hombre  26.0       Irlanda       5    Apartamento/Villa       200.000
3936   Mujer  58.0         Otros      14    Apartamento/Villa       806.000
4058  Hombre  28.0        España      10         Hotel 1-2-3*       150.000
4203  Hombre  30.0      Alemania       7             Hotel 4*       788.000
4381   Mujer  19.0  Paises Bajos       8             Hotel 5*       558.000
4420  Hombre  67.0       Noruega       7             Hotel 4*         1.017
4474  Hombre  29.0   Reino Unido       7             Hotel 4*       856.000
4484   Mujer  36.0        España       2             Hotel 5*       350.000
4504   Mujer  49.0      Alemania      10         Hotel 1-2-3*         2.677
4835  Hombre  60.0   Reino Unido       7             Hotel 4*       733.000
4953   Mujer  62.0  Paises Bajos       9             Hotel 5*       639.000
4966   Mujer  50.0       Irlanda       7             Hotel 4*         2.000
5241   Mujer  47.0       Bélgica       7             Hotel 4*       556.000
5404  Hombre  71.0  Paises Bajos      14             Hotel 5*         1.165
5656  Hombre  61.0       Noruega       7             Hotel 4*       916.000
5936  Hombre  19.0     Dinamarca       7             Hotel 5*       658.000

      Coste_alojamiento   Gastos  Horas_fuera_alojamiento  \
185               1.338  448.000                       24
527               1.728  355.000                       20
896               1.416  400.000                       24
1056            157.000  455.000                       24
1212            561.000  632.000                       23
1294              4.223    1.095                       24
1446              1.007  300.000                       20
1496            219.000  300.000                       24
1562              1.368  572.000                       24
1693             30.000  250.000                       20
1750              2.037  415.000                       20
2190            400.000  260.000                       20
2222            447.000  547.000                       24
2270              1.400    3.371                       20
2282            393.000  302.000                       24
2478              2.230  449.000                       20
2493             49.000  170.000                       20
2962            537.000    1.300                       20
3138              2.558    1.305                       22
3244            441.000   94.000                       20
3330              1.300  140.000                       24
3446            700.000    1.600                       20
3591            845.000  245.000                       20
3800            400.000  800.000                       20
3936              2.000    1.000                       20
4058            500.000  250.000                       20
4203              1.212  100.000                       20
4381            822.000  169.000                       24
4420            876.000    1.023                       20
4474              1.384  464.000                       23
4484            120.000   60.000                       24
4504              4.701  342.000                       20
4835              1.186  331.000                       21
4953            942.000  184.000                       20
4966              3.000  940.000                       20
5241              1.744  319.000                       20
5404              1.716  147.000                       20
5656            789.000  352.000                       20
5936            567.000  491.000                       20

      Visitas_totales_Islas  Visitas_total_GC  \
185                       3                 0
527                       2                 0
896                       3                 3
1056                      2                 2
1212                      3                 0
1294                     15                 7
1446                      2                 2
1496                      4                 1
1562                      8                 5
1693                      5                 5
1750                      6                 6
2190                      8                 6
2222                      6                 5
2270                      5                 5
2282                      4                 2
2478                     10                 0
2493                      2                 1
2962                      2                 2
3138                      2                 1
3244                      7                 1
3330                      1                 1
3446                      1                 1
3591                      6                 6
3800                      2                 0
3936                      3                 1
4058                      1                 0
4203                      2                 1
4381                      3                 1
4420                      2                 2
4474                     12                 4
4484                      1                 1
4504                      2                 1
4835                      5                 1
4953                     10                10
4966                     10                10
5241                      5                 2
5404                     10                10
5656                     18                18
5936                      3                 1

                         Calificacion Repetiria       Nivel_educativo  \
185   A la altura de las expectativas      (10)   Estudios superiores
527        Mucho mejor de lo esperado       (8)   Estudios superiores
896   A la altura de las expectativas      (10)    Estudios primarios
1056             Mejor de lo esperado      (10)   Estudios superiores
1212  A la altura de las expectativas       (9)   Estudios superiores
1294  A la altura de las expectativas       (8)   Estudios superiores
1446             Mejor de lo esperado       (8)  Estudios secundarios
1496  A la altura de las expectativas       (8)   Estudios superiores
1562  A la altura de las expectativas      (10)   Estudios superiores
1693       Mucho mejor de lo esperado       (9)   Estudios superiores
1750              Peor de lo esperado       (3)  Estudios secundarios
2190  A la altura de las expectativas       (6)    Estudios primarios
2222  A la altura de las expectativas      (10)  Estudios secundarios
2270       Mucho mejor de lo esperado      (10)  Estudios secundarios
2282  A la altura de las expectativas       (7)          Sin estudios
2478             Mejor de lo esperado      (10)   Estudios superiores
2493       Mucho mejor de lo esperado      (10)    Estudios primarios
2962  A la altura de las expectativas      (10)   Estudios superiores
3138       Mucho mejor de lo esperado      (10)  Estudios secundarios
3244       Mucho mejor de lo esperado      (10)          Sin estudios
3330  A la altura de las expectativas       (8)   Estudios superiores
3446       Mucho mejor de lo esperado      (10)   Estudios superiores
3591       Mucho mejor de lo esperado      (10)  Estudios secundarios
3800  A la altura de las expectativas      (10)   Estudios superiores
3936       Mucho mejor de lo esperado      (10)   Estudios superiores
4058             Mejor de lo esperado       (7)   Estudios superiores
4203             Mejor de lo esperado       (8)   Estudios superiores
4381  A la altura de las expectativas       (8)   Estudios superiores
4420  A la altura de las expectativas      (10)   Estudios superiores
4474             Mejor de lo esperado       (9)  Estudios secundarios
4484  A la altura de las expectativas      (10)   Estudios superiores
4504  A la altura de las expectativas       (8)   Estudios superiores
4835  A la altura de las expectativas       (3)   Estudios superiores
4953  A la altura de las expectativas       (9)  Estudios secundarios
4966  A la altura de las expectativas      (10)   Estudios superiores
5241  A la altura de las expectativas       (9)   Estudios superiores
5404  A la altura de las expectativas      (10)  Estudios secundarios
5656  A la altura de las expectativas      (10)  Estudios secundarios
5936  A la altura de las expectativas      (10)  Estudios secundarios

      Situacion_laboral       Ingresos  Personas_hogar Cuatrimestre   Año  \
185            Jubilado  25.000-49.999               1           Q1  2019
527          Asalariado  50.000-74.999               2           Q1  2019
896          Asalariado  50.000-74.999               3           Q1  2019
1056         Asalariado   Menos 25.000               2           Q1  2019
1212           Autonomo        +75.000               2           Q1  2019
1294           Jubilado  50.000-74.999               2           Q1  2019
1446         Asalariado  25.000-49.999               4           Q1  2019
1496         Asalariado  50.000-74.999               2           Q1  2019
1562           Jubilado  50.000-74.999               2           Q1  2019
1693         Asalariado  25.000-49.999               1           Q1  2019
1750         Asalariado        +75.000               3           Q2  2019
2190           Jubilado  25.000-49.999               2           Q2  2019
2222           Jubilado   Menos 25.000               2           Q2  2019
2270         Asalariado  50.000-74.999               2           Q2  2019
2282         Asalariado   Menos 25.000               2           Q2  2019
2478           Jubilado  25.000-49.999               2           Q2  2019
2493         Asalariado  25.000-49.999               1           Q2  2019
2962         Asalariado  25.000-49.999               3           Q3  2019
3138         Asalariado        +75.000               4           Q3  2019
3244         Asalariado  25.000-49.999               3           Q3  2019
3330  Empresario_grande  25.000-49.999               3           Q3  2019
3446         Asalariado   Menos 25.000               1           Q3  2019
3591         Asalariado  25.000-49.999               2           Q3  2019
3800         Asalariado  50.000-74.999               3           Q3  2019
3936         Asalariado  25.000-49.999               1           Q3  2019
4058         Asalariado  25.000-49.999               1           Q3  2019
4203  Empresario_grande   Menos 25.000               2           Q3  2019
4381           Autonomo   Menos 25.000               5           Q4  2019
4420         Asalariado        +75.000               2           Q4  2019
4474           Autonomo  50.000-74.999               5           Q4  2019
4484         Asalariado  25.000-49.999               2           Q4  2019
4504           Autonomo        +75.000               3           Q4  2019
4835           Jubilado   Menos 25.000               2           Q4  2019
4953         Asalariado  25.000-49.999               2           Q4  2019
4966  Empresario_grande  25.000-49.999               4           Q4  2019
5241         Asalariado  50.000-74.999               3           Q4  2019
5404           Jubilado   Menos 25.000               2           Q4  2019
5656  Empresario_grande        +75.000               2           Q4  2019
5936         Asalariado        +75.000               6           Q4  2019

        Modo_viaje
185   Viaja_pareja
527   Viaja_pareja
896     Viaja_hijo
1056  Viaja_pareja
1212  Viaja_amigos
1294  Viaja_pareja
1446  Viaja_pareja
1496  Viaja_amigos
1562  Viaja_pareja
1693    Viaja_solo
1750    Viaja_hijo
2190  Viaja_pareja
2222  Viaja_pareja
2270  Viaja_pareja
2282  Viaja_pareja
2478    Viaja_solo
2493    Viaja_solo
2962   Viaja_otros
3138    Viaja_hijo
3244  Viaja_pareja
3330   Viaja_otros
3446    Viaja_solo
3591  Viaja_pareja
3800  Viaja_amigos
3936   Viaja_otros
4058    Viaja_solo
4203  Viaja_pareja
4381  Viaja_pareja
4420  Viaja_pareja
4474    Viaja_hijo
4484   Viaja_otros
4504    Viaja_hijo
4835  Viaja_pareja
4953  Viaja_pareja
4966   Viaja_otros
5241    Viaja_hijo
5404  Viaja_pareja
5656  Viaja_pareja
5936   Viaja_otros
Outliers en Visitas_totales_Islas:
         Sexo  Edad Nacionalidad  Noches   Tipo_alojamiento  Coste_vuelos  \
13     Hombre  64.0     Alemania      28           Hotel 4*       560.000
15     Hombre  70.0      Irlanda      14           Hotel 5*       675.000

Reemplazar outliers con la mediana ya que mantiene la tendencia central del conjunto de datos si que los valores extremos sesgen los resultados

In [21]:
# Reemplazar valores fuera del rango por la mediana
for var in variables_numericas:
    q1 = df_perfil_turistico[var].quantile(0.25)
    q3 = df_perfil_turistico[var].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    median = df_perfil_turistico[var].median()
    df_perfil_turistico[var] = df_perfil_turistico[var].apply(lambda x: median if (x < lower_bound or x > upper_bound) else x)

In [22]:
#Vemos el total de columnas
df_perfil_turistico.columns

Index(['Sexo', 'Edad', 'Nacionalidad', 'Noches', 'Tipo_alojamiento',
       'Coste_vuelos', 'Coste_alojamiento', 'Gastos',
       'Horas_fuera_alojamiento', 'Visitas_totales_Islas', 'Visitas_total_GC',
       'Calificacion', 'Repetiria', 'Nivel_educativo', 'Situacion_laboral',
       'Ingresos', 'Personas_hogar', 'Cuatrimestre', 'Año', 'Modo_viaje'],
      dtype='object')

In [23]:
df_perfil_turistico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12295 entries, 0 to 12294
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sexo                     12295 non-null  object
 1   Edad                     12295 non-null  float64
 2   Nacionalidad             12295 non-null  object
 3   Noches                   12295 non-null  float64
 4   Tipo_alojamiento         12295 non-null  object
 5   Coste_vuelos             12295 non-null  float64
 6   Coste_alojamiento        12295 non-null  float64
 7   Gastos                   12295 non-null  float64
 8   Horas_fuera_alojamiento  12295 non-null  float64
 9   Visitas_totales_Islas    12295 non-null  float64
 10  Visitas_total_GC         12295 non-null  float64
 11  Calificacion             12295 non-null  object
 12  Repetiria                12295 non-null  object
 13  Nivel_educativo          12295 non-null  object
 14  Situacion_laboral        12295 non-null  object
 15  Ingresos                 12295 non-null  object
 16  Personas_hogar           12295 non-null  float64
 17  Cuatrimestre             12295 non-null  object
 18  Año                      12295 non-null  int64
 19  Modo_viaje               12295 non-null  object
dtypes: float64(9), int64(1), object(10)
memory usage: 1.9+ MB

Ya tenemos los datos limpios y listos para porder empezar con su análisis.

Empecemos con la tipología de las variables definiendo su cardinalidad para su posterior clasificación.

In [24]:
# Calculemos ahora su cardinalidad
cardinalidad = round((df_perfil_turistico.nunique() /len (df_perfil_turistico))*100,2)
cardinalidad

Sexo                        0.02
Edad                        0.58
Nacionalidad                0.11
Noches                      0.10
Tipo_alojamiento            0.06
Coste_vuelos               18.29
Coste_alojamiento          24.15
Gastos                     16.03
Horas_fuera_alojamiento     0.16
Visitas_totales_Islas       0.14
Visitas_total_GC            0.10
Calificacion                0.04
Repetiria                   0.09
Nivel_educativo             0.03
Situacion_laboral           0.09
Ingresos                    0.03
Personas_hogar              0.03
Cuatrimestre                0.03
Año                         0.02
Modo_viaje                  0.04
dtype: float64

In [25]:
# Calculemos ahora su cardinalidad
def cardi(df_in,umbral_categoria, umbral_continua):
    df_cardi= df_cardi = pd.DataFrame({
    "Cardi": df_in.nunique(),
    "% Cardi": df_in.nunique() / len(df_in) * 100
})
    clasificacion= []
    for index, valor in df_cardi["Cardi"].items():
        if valor==2:
            clasificacion.append("Binaria")
        elif valor < umbral_categoria:
            clasificacion.append("Categorica")
        elif valor >= umbral_categoria:
            if df_cardi.loc[index, "% Cardi"] >= umbral_continua:
                clasificacion.append("Numerica Continua")
            else:
                clasificacion.append("Numerica Discreta")
    df_cardi["Clasificacion"]=clasificacion
    return df_cardi

In [26]:
cardi(df_perfil_turistico,15,65)

                         Cardi    % Cardi      Clasificacion
Sexo                         2   0.016267            Binaria
Edad                        71   0.577471  Numerica Discreta
Nacionalidad                14   0.113867         Categorica
Noches                      12   0.097601         Categorica
Tipo_alojamiento             7   0.056934         Categorica
Coste_vuelos              2249  18.291989  Numerica Discreta
Coste_alojamiento         2969  24.148028  Numerica Discreta
Gastos                    1971  16.030907  Numerica Discreta
Horas_fuera_alojamiento     20   0.162668  Numerica Discreta
Visitas_totales_Islas       17   0.138268  Numerica Discreta
Visitas_total_GC            12   0.097601         Categorica
Calificacion                 5   0.040667         Categorica
Repetiria                   11   0.089467         Categorica
Nivel_educativo              4   0.032534         Categorica
Situacion_laboral           11   0.089467         Categorica
Ingresos                     4   0.032534         Categorica
Personas_hogar               4   0.032534         Categorica
Cuatrimestre                 4   0.032534         Categorica
Año                          2   0.016267            Binaria
Modo_viaje                   5   0.040667         Categorica